  body {
      background-color: rgb(46, 45, 45);
  }

  .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      max-width: 1500px;
      margin: 0 auto;
  }

  img {
    width: 100%;
  }

  h1{
    color: white;
    font-size: 40px;
    text-align: center;
  }